[2017-11-26 15:11] akamensky opened #1 "Implement argument for extracting numerical data from arguments"
Possibly need two separate arguments. One for `int` and one for `float` types.

- [x] integers
- [x] floats

[2017-11-26 15:13] akamensky opened #2 "Too many loops and cycling references"
While this code works, it was something made over the weekend, just because I needed good library for this asap.

Might need to re-thinking the code to avoid cycling dependencies in the code as well as reduce number of loops in it.

[2017-11-27 06:32] akamensky opened #3 "Add more examples"
Need examples to cover following topics:

- [x] Flag and Flag shorthand combining
- [x] String, Selector and List
- [x] Int and Float
- [x] File
- [x] Required vs Optional arguments
- [x] Argument validation functions
- [x] Commands simple
- [x] Commands with sub-commands and arguments
- [x] Default values example

Each example must be independent and fully functional program

[2017-11-27 06:35] akamensky opened #4 "Write Wiki documentation for this project"
Apparently GoDoc cannot show documentation for exported methods of un-exported structs, and it makes no sense to export `parser` and/or `command`, thus this project should provide its own documentation page.

[2017-12-01 03:49] akamensky opened #5 "BUG: Some sort of issue with usage text generation on deeply nested commands"
See `examples/commands-advanced` for example. It has help message issues with calling `$ go run main.go dog`

Should print list of dog's subcommands, but prints `dog` and `cat` top level commands.

[2017-12-06 05:16] akamensky commented on #5
Fixed in https://github.com/akamensky/argparse/commit/43ab1a91c634961a2f0a570d5caba00ef8093586

[2017-12-06 05:16] #5 closed

[2017-12-06 05:30] akamensky opened #6 "[vote] Should sub-commands be required?"
Right now if command has a sub-command (e.g. `$ progname command <sub-command>` or `$ progname <command>`) that sub-command is automatically required and not providing any will generate `error` response on `parser.Parse()`. This vote is consideration whether sub-commands must be always required, or they do not have to be required (do not generate err on `parser.Parse()` and instead delegate sub-co

[2017-12-08 17:18] jvanmalder opened #7 "Add support for "default" values"
See https://docs.python.org/3/library/argparse.html#argument-default.

I would expect something like:

`parser.String("s", "string", &argparse.Options{Default: "The default string value."})`

[2017-12-14 02:28] akamensky commented on #7
@jvanmalder Thanks for your suggestion, I considered this option, however this might be more complex than it is in Python due to strict typing of Go. Currently argparse.Options is the same for all of argument types, and with strict type checking I can't put the default value there directly. One option would be to make argparse.Options.Default an `interface {}` type, but that would require type che

[2017-12-29 11:26] fingon commented on #7
I would prefer to see just interface{}d Default attribute, which then would be typecast at parse time so (beyond the Options struct setup) the code would still stay typesafe.

[2017-12-31 04:20] akamensky commented on #7
@fingon thanks, I was thinking the same, made the branch features/default-value, feel free to send PR there as I am a little swamped right now and it may take some time for me to get to that one.

[2018-01-12 05:42] SkyrisBactera opened #9 "panic: runtime error: slice bounds out of range"
If you use an argument and pass no value, the go program panics with ```panic: runtime error: slice bounds out of range```.
PoC:
[code]

[code]

[2018-01-12 06:46] akamensky commented on #9
Right on, seems I missed the array boundaries check there. Should be an easy fix

[2018-01-12 07:02] akamensky commented on #9
@SkyrisBactera Added the fix for this issue along with test case. Closing. Feel free to re-open if you feel the issue is not yet resolved

[2018-01-12 07:02] #9 closed

[2018-01-23 07:13] #6 closed

[2018-03-05 16:38] jsullivan3 commented on #1
Just realized that my recent PR (https://github.com/akamensky/argparse/pull/10) handles integer types.  I didn't add support for float types, unfortunately...

[2018-03-07 11:35] tehlordvortex opened #12 "Error when trying to run example in README.md"
The example in README.md gives the following error when I try to run it:
[code]
After checking the source code, I passed the err variable to `parser.Usage`, which resulted in the error being printed twice. So, I presume the `fmt.Println` call is redundant.

Running: go1.10 on Ubuntu 17.10.1 Linux 64-bit.

[2018-03-07 12:11] akamensky commented on #12
Thanks for the report. The example in README.md was outdated from the very first push to this repo. I've updated it according to current specifications in 00bc810.

Closing.

[2018-03-07 12:11] #12 closed

[2018-03-23 05:17] akamensky commented on #1
Done. Closing.

[2018-03-23 05:17] #1 closed

[2018-04-05 17:50] JaikrishnaTS opened #16 "Missing Features"
While I'm not entirely convinced that all features of argparse are useful, a few are really nifty.

Making a list of few features that I think could be added:
* [ ] Positional arguments
  * Take arguments based on the position.
* [ ] `nargs` functionality
  * Take constant or variable number of arguments that follow
  * Important for optional arguments
  * Does not make much sense for positional a

[2018-04-07 04:31] akamensky commented on #16
Hi Jaikrishna,

First, thank you for contributing to this project. Those features might be a good addition, but some of them would be harder to add due to great differences between Go and Python (i.e. strict type checking).

While it is true that this project is inspired by Python's argparse, it is not a clone of it, and I think one should consider whether features make sense in the scope of appli

[2018-04-07 14:36] JaikrishnaTS commented on #16
Hey Alexy, I believe I completely agree with your points.
I will give this a run after I have a look at #2

[2018-04-30 06:39] josegonzalez commented on #16
@akamensky I have a single use case for a positional argument.

I am building a tool that will allow me to process the Procfile format and spit out some information about them. One command I want to add is `show`, which will "show" the command for a given process type. This is the usage:

[code]

This command would be incorrectly called if a process type is not specified. Thats not something I can

[2018-05-01 13:06] josegonzalez commented on #16
@akamensky no worries! Just wanted to add another point. This project has already done the thing I needed it for :)

Aside, any chance I can send you some beer money or similar in appreciation?

[2018-05-04 06:27] akamensky commented on #16
yes, it is, receiving address.

[2018-05-04 16:25] josegonzalez commented on #16
Done :)

[2018-08-01 03:06] akamensky opened #20 "Add support for positional arguments"
For some tools it makes more sense to use positional arguments instead of randomly located named arguments. The positional arguments must work as follows:

1. Positional arguments can be placed only after named arguments and cannot mixed up with them
2. Positional arguments order should be clearly defined in the code (possibly by order in which they are added)
3. Positional argument parsing should

[2018-08-01 03:07] akamensky opened #21 "Add support for repeated flags/options"
1. Allow to repeat flags or optional arguments to specify more inputs
2. Support for multiple levels like `-vvv`

[2018-08-01 03:08] akamensky opened #22 "Add support for nargs functionality"
1. Take constant or variable number of arguments that follow
2. Important for optional arguments
3. Does not make much sense for positional arguments

[2018-08-01 03:09] akamensky commented on #16
Split into:
https://github.com/akamensky/argparse/issues/20

[2018-08-01 03:09] #16 closed

[2018-08-10 15:35] henryx opened #23 "Mutually exclusive groups"
As Python's argparse implementation, is possible to have a mutually exclusive groups for arguments

[2018-08-16 07:57] akamensky commented on #23
And you do have them via commands. if you use command "a" then only arguments of this group will be available.

Is this what you meant?

[2018-08-21 16:30] akamensky commented on #23
Okay, I see what you mean, I never used this functionality in Python's argparse.

I feel this is a bit of corner case, meaning it most likely wouldn't be used very often and could easily be implemented in the code that follows the parser (just check if both are provided and print usage and error).

If you feel this library would benefit from this functionality then more than welcome to provide a P

[2018-09-07 00:20] aefalcon opened #24 "Usage(err interface{}) only uses values of type error"
Regarding `func (*Command) Usage(err interface{}) string`, only values of _err_ with types _subCommandError_ and _error_ are used by the function.  Because _subCommandError_ is an implementation of _error_, the argument should really be of type _error_.

It would be nice if it also accounted for _string_ and _fmt.Stringer_, but I think documentation should at least note what the supported types ar

[2018-09-08 09:06] akamensky commented on #24
I agree it should accept strings and related types.

I may be able to look at this later.

[2018-11-21 15:04] #24 closed

[2019-02-19 13:59] zanven42 opened #29 "Help Command closes Program - undesirable in web chat app parsing"
Hi i am trying to build a discord chat bot, and leveraging this package has been awesome for that, however when the parser is created a non overridable help argument is added which os.Exit(0) when triggered which is meaning users chatting the bot can make it close. I know this is probably a unexpected use case, i am willing to fork the project and workout a solution if you would like to give my gu

[2019-02-20 01:00] akamensky commented on #29
Hi @zanven42

I totally see where you are coming from. I have also considered that perhaps having `-h|--help` always defined is a possible issue and that should probably be either optional or left up to developer to implement.

However I am reluctant to change it now as this may introduce breaking changes. And I see quite a few people using this in their projects already.

I think we have 3 option

[2019-02-20 08:54] zanven42 commented on #29
yeah, i think option 3 would be best to continue on. While i was hacking away last night on a discord bot i forked the repository and what i had changed was that the `check` call so it also returned an error not just bool, when `-h|--help` was found that it returned an error for `parse`, but that made me have to tree dive the `happened` calls on sub commands to know which subcommand usage i needed

[2019-04-10 15:57] Tormenta74 opened #31 "`sdtin / stdout` default values for File?"
I'm not quite sure of the size of my request, but here goes.

Looking at the implementation I see that the default should be a string, it being the path to the file to open, but I can't seem to make that point to the "real" standard streams. Perhaps it could be hardcoded that the strings "stdin", "stdout", "stderr" in the Option's Default for the File trigger that the file pointer points to `os.St

[2019-05-14 14:57] yory8 commented on #22
Been looking into this, I think the only way to implement this would be to break the API by changing return types (the `String`, `Int`, etc functions would return `[]string`, `[]int`, etc; the `List` functions would return `[][]string` etc). Am I correct? If so, would such a change be accepted?

[2019-05-20 09:07] hongcai commented on #29
That would be great, if the `-h|--help` description is configurable. Since sometimes we like to make it more local by using our local language.

[2019-05-27 02:25] akamensky commented on #31
That is a great question. Which also (going one step further) would be "And how about pipes?".

As nice as it would be to have library that does everything (i.e. like systemd tries to do absolutely everything), I think in this specific case it would be better to keep this library do what it is intended to do, namely -- parsing command line arguments.

You always can achieve the same what you want

[2019-05-27 02:32] akamensky commented on #29
Agree, but I would like to keep it backward compatible to avoid unexpected surprises to those who always `go get -u -v -x` this library.

I think good start at this issue would be to move default help message formatting into its own exported method, and use that method as default option for help message. Which then can be overwritten with any other method.

After that can see how can make that `-h

[2019-07-13 08:59] #31 closed

[2019-09-20 20:07] chungy opened #36 "Allow unambiguous shortened long-options"
With GNU getopt and friends (I believe Python argparse included, but I haven't tested it to write this issue report), long options may be abbreviated to the shortest unambiguous version and needn't be typed in full.

For example, in a program that has both `--verbose` and `--version`, `--ver` cannot work since it would match either of them, but `--vers` would act the same as `--version`, and `--ve

[2019-09-27 20:19] densestvoid commented on #36
Python argparse confirmed, according to https://docs.python.org/3/library/argparse.html, allow_abbrev is a  parameter for ArgumentParser object.

[2019-10-02 01:24] akamensky commented on #36
I don't think that is necessary. This adds ambiguity to the options as well as adds on complexity of parsing.

This library is inspired by argparse, it does not intent on copying it 100% (which would not be possible anyway because of strict typing).

[2019-10-06 15:01] akamensky opened #41 "Migrate to go modules"

[2019-10-18 02:19] densestvoid commented on #29
Commit 0f6d107:
Considered a Settings field HelpParseFunc in place of NoExitOnHelp. HelpParseFunc would be called when the help argument is parsed. If not set, HelpParseFunc would default to printing parser/command.Help(nil) and exiting (what currently happens). Users could define the HelpParseFunc to define how the parser should handle the help argument, and return a non nil error to stop parsing

[2019-11-21 12:43] goofinator commented on #21
It's look like some test configuration problem:
$ sonar-scanner
sonar-scanner: command not found
The command "sonar-scanner" exited with 127.

[2019-11-25 17:27] goofinator opened #45 "Combining a shorthand arguments with a parameter with flags"
Hello!
Interesting: how critical is the design requirement:
"Shorthand arguments ONLY for parser.Flag () can be combined into single argument same as ps -aux or rm -rf"
It seems to me that it would be a good idea to give the opportunity to combine a shorthand arguments with a parameter with flags if it is written after them. I mean some thing like this:
tar -cvaf foo.tar.gz foo

[2019-12-02 05:20] akamensky commented on #45
Yes, BSD and POSIX implementations often allow for this, however I feel this makes it hard to read/understand for newcomers. Also the logic for parsing becomes very complex because of:

1. Does it allow only 1 non-flag or multiple?
2. If multiple how to deal with ordering?
3. If only 1 -- how to detect it amongst other flags?
4. etc

While answer to those may seem obvious to any experienced `tar`

[2019-12-02 05:23] #36 closed

[2019-12-02 08:47] goofinator commented on #45
The standard approach is a one shortened argument with a parameter that closes the sequence of flags.
It seems to me that for the UNIX CLI users this is the expected behavior. And in my programs I would prefer to provide it.
What if you let the programmer to enable this behavior by configuration function call, or something like that. Then the default behavior of the library will correspond to your

[2019-12-02 09:40] akamensky commented on #45
I’m okay if that could be implemented with minimal changes and not affecting functionality of other methods.

[2019-12-03 14:06] goofinator opened #47 "Thoughts on a Lists"
There is a question.
There are arguments with a parameter for different types (String, Float, Int).
There is also an argument of type List, which allows you to create a list of parameters of type String.
Wouldn't it be logical to make StringList, FloatList, IntList?

[2019-12-03 14:18] akamensky commented on #47
Yes, it absolutely would. I initially implemented those that were most commonly used, however there are many more possible argument types to add I believe. There is also a question of positional arguments (see #38 discussion) which could expand into having its own list of types etc.

[2019-12-03 15:31] goofinator commented on #47
I think that moving from List to TypeList would make semantics more explicit and
less controversial.
For a few common types - not so mach work, at first glance.

If there is a fear that the number of parameter types or argument types will increase, then it may make sense to separate argument types and data types of their parameters.
For example:
type DataType int
const (
	StringType DataType = iot

[2019-12-03 15:40] akamensky commented on #47
I don't think the number of methods is an issue, while number of arguments to methods is. I think separate methods (IntList, FloatList etc) makes more sense here rather than passing type to the methods as an argument (also method should return a specific type of pointer, common method that accept multiple types can only return interface then, which does not really help developer).

I think as with

[2019-12-03 16:21] goofinator commented on #47
OK

[2019-12-06 10:00] akamensky commented on #47
@goofinator should this be closed now? Or there are still more relevant changes coming?

[2019-12-06 12:56] goofinator commented on #47
i think that's all, here.

[2019-12-07 04:25] akamensky commented on #47
Sure

[2019-12-09 12:57] ghosthawkone commented on #3
Hey @akamensky - found this repo while looking for command line parsers to write a tool using Go. Saw that this issue has been open for a couple of years now. I'd like to get started on this.

[2019-12-10 12:54] akamensky commented on #47
Feel free to close this issue whenever you think it is done.

[2019-12-10 13:20] #47 closed

[2019-12-11 06:59] #41 closed

[2019-12-13 17:59] goofinator opened #54 "shorthand argument creation check"
If i do some thing like this ("pp" on shorthand argument ):
parser.Int("pp","port",&argparse.Options{Required: false,Default: 10000, Help: "Work in dummy mode"})
there is no error on parser.Parse, and default value became 0. Are long name as shorthand allowed? If no, maybe it should be error value on this situation? If Yes - why default value differs from expectation.

[2019-12-28 13:51] akamensky commented on #54
No, Not sure how this got broken, there was (and still must be) a check that shorthand argument is one character long. (err if 0 > len(sn) > 1 because it can be 0 too).

[2020-01-10 11:41] goofinator commented on #54
Ooh... I've got it.
If you create an argument with wrong description, like in my case - long name for a shorthand argument, library refuses this argument's description silently. Later, when you try to use it, there will be 'unknown arguments' error. This is OK.
But in the case of **Options** with **Required: false** and some **Default** value, it will be another default value on Parse return (defa

[2020-01-19 14:04] goofinator opened #56 "testFunction"
I thought it would be nice to include a test function in the options.
If it is defined, when creating the argument, you should test the received value of the argument with its help. If it fails, finish processing with an error. This will help the user to handle a wide range of situations when the list of values ​​is limited, not providing for all cases in the library itself.

[2020-01-19 16:18] akamensky commented on #2
Closed in #55

[2020-01-19 16:18] #2 closed

[2020-01-19 16:30] akamensky commented on #54
To be honest I don't like 2 because of nil pointer, perhaps that is the legacy of hating nullptr from C/C++. I'd argue that if method promises to return a specific type it must try its best to return that instead of nil (except errors I guess).

I would prefer to separate a developer (who would use this library in their application) and actual application user. Letting application crash with null

[2020-01-19 16:32] akamensky commented on #56
There are validation functions already, where developer can provide own validators. I.e. validate that string is URL, or a valid email address.

Is this the same? If not, what is different from what you are proposing here?

[2020-01-19 16:36] akamensky commented on #56
See Options.Validate at https://github.com/akamensky/argparse/blob/master/argparse.go#L95

[2020-01-19 18:22] goofinator commented on #56
Yes. I apologize - did not notice. However, it confuses me that the validator checks the original parameter string. It may make sense to validate the final value, i.e. pass interface {}.

[2020-01-21 11:21] akamensky commented on #54
I think that was done in #57

feel free to close if this is resolved

[2020-01-21 11:30] akamensky commented on #56
The idea behind this approach was that validators should be very reliable. And I thought originally to provide a set of pre-defined validators (i.e. checking that string is a valid email address), but did not get to implementing that.

It would possibly be okay to change argument to interface and pass already parsed value type. However at this stage it would constitute a behavior change, which is

[2020-01-21 11:37] akamensky commented on #21
@goofinator has this issue been resolved here? I have not had a chance to use this myself yet, but since you implemented this I presume you already perhaps used it somewhere?

If it is resolved, please do close this issue.

[2020-01-21 11:39] akamensky commented on #3
@ghosthawkone feel free to submit a PR for examples! Would appreciate it.

[2020-01-21 20:42] #54 closed

[2020-01-21 20:48] goofinator commented on #56
Ok. So, it's better to leave this issue here as reminder?

[2020-01-21 20:50] #45 closed

[2020-01-21 21:06] goofinator commented on #21
I think it's finished. I can't close it (not permitted for me).

[2020-01-21 21:37] goofinator commented on #22
What is your vision of narg functionality? I think it's should be an additional functions for basic types, like:
IntNarg, FloatNarg and so on.

narg should be the integer value. if narg>0 - it strictly sets count of expected parameters. narg<=0 (or <0 - look below) sets default behavior, which is to accept all parameters till next optional argument or till line end.
In cooperation with Options.Req

[2020-01-23 05:09] #21 closed

[2020-01-23 05:10] akamensky commented on #56
Probably good idea to have a list of items for v2. I.e. wiki page, or a text/markdown document in this repo.

[2020-01-23 05:12] akamensky commented on #29
@densestvoid has this been resolved? (i haven't had a chance to test functionality just yet, but since you helped to implement this I presume you tested and possibly are using it)

[2020-01-23 11:42] goofinator commented on #56
It can be done in the same way as in the Go repository:
https://github.com/golang/proposal/
When the critical mass of  design wishes, incompatible with  the current major version, will be established -  the v2 folder could be created.
May be it would be better to keep all about v2 in separate branch (the v2 folder and modification of mod file) for now.
Or some thing. Honestly,  I have no big exper

[2020-01-23 12:10] akamensky commented on #56
The changes for v2 sure should go to  v2 branch as intended when using go modules.

What I meant is a place to keep a list of suggestions/proposals for v2. Either a separate ticket which would link to all other tickets. Or milestone in issues. Or a text file. Either is fine I think.

[2020-01-23 12:53] goofinator commented on #56
ok. may be, if it'll be placed in readme for contributors.

[2020-01-23 12:53] goofinator commented on #56
ok.

[2020-01-23 22:21] densestvoid commented on #29
#50 Resolves these issues, but I was waiting for your input on the [review](https://github.com/akamensky/argparse/pull/50#pullrequestreview-329814749)

[2020-01-29 04:58] akamensky commented on #29
@densestvoid the #50 is merged, feel free to close this issue if it is resolved in that PR. <3

[2020-01-31 15:52] densestvoid commented on #29
@akamensky I do not have the access to close issues. Unless @zanven42 feels the recent help features do not fully address the issue, I would consider it closed.

[2020-02-03 07:11] akamensky commented on #29
Closing, please re-open if not resolved.

[2020-02-03 07:11] #29 closed

[2020-02-07 16:17] RajaSrinivasan opened #58 "[Suggestion] Improve doc of the File type parameter"
The flag and perm arguments are a bit confusing. Some clarifications and examples might help.
On my mac, I find the even when I specify a non existing file I get a non nil File *. I am not sure if this is an issue or a bug in my usage:

	pubkeyfile := registercmd.File("p", "public-key-file", os.O_RDONLY, 0, &argparse.Options{Help: "Public Key filename (.pem)"})
	parser.Parse(os.Args)
	if pubkeyfil

[2020-02-10 02:30] akamensky commented on #58
That sounds like a bug to me unless you specified `os.O_CREATE` flag, which would create a new file.

Also I don't see anything confusing about flags and permissions, those are exactly same that are used in `os` package when opening a file.

[2020-02-19 20:17] skaymakca opened #59 "Repeated text in sub-command usage text"
Thank you for the great library!  As a former python argparse user this has helped getting a CLI together for some go work.

Working on a program with two levels of sub-commands I noticed the help info repeats with incorrect/incomplete argument usage. This is the not the case with doing -h on the sub-command.

This does not seem to be the same issue as #5 but might be related?

The command-advance

[2020-02-20 01:46] akamensky commented on #59
Looks like a bug introduced by recent changes

[2020-02-20 01:56] akamensky commented on #59
@densestvoid you did some changes recently related to Usage output, do you think this is related? I verified this using `examples/commands-advanced` example code.

[2020-02-29 12:32] naughtyGitCat commented on #59
same bug happened to me

[2020-02-29 12:34] naughtyGitCat commented on #59
when no args where given, the root and the sub  both print help info twice

[2020-03-01 21:40] thegreyd commented on #59
@akamensky Hello, I was looking at the library earlier and had some time to sit and take a look at the issue. The fix looked easy enough so I submitted a PR here https://github.com/akamensky/argparse/pull/60

[2020-03-02 03:35] akamensky commented on #59
@skaymakca or @naughtyGitCat can either of you please verify the issue is resolved in latest tip 936811b? (not released to go mod yet)

[2020-03-02 05:13] naughtyGitCat commented on #59
the commands-advanced test seems correct, but I don't know how to test in my go.mod managed project

[2020-03-02 05:21] skaymakca commented on #59
I wasn't able to test commands-advanced but I was able to test the commit in my internal project and the output looks correct now.

@naughtyGitCat I was able to test by running (in my go.mod project):
 `go get github.com/akamensky/argparse@936811b12db25dad4b7b86cbfd1dcc61571145cc`

[2020-03-02 05:23] naughtyGitCat commented on #59
It fixed the problem, thanks

[2020-03-02 05:23] naughtyGitCat commented on #59
`go get github.com/akamensky/argparse@936811b12db25dad4b7b86cbfd1dcc61571145cc`

It fixed the problem, thanks

[2020-03-02 05:29] skaymakca commented on #59
I see the fix was merged into master. Thanks everyone!

[2020-03-03 02:48] #59 closed

[2020-03-03 02:50] akamensky commented on #59
It has been released in v1.2.1 for go.mod projects

[2020-04-20 06:28] #58 closed

[2020-04-20 06:29] akamensky commented on #58
Closed as no follow up from OP

[2020-05-06 01:07] jhughes1153 opened #62 "support of equals from cli"
It seems like it would be useful to be able to specify --path=/home/path/to/file like you can in the python version of argparse. Currently to get around this one has to specify --path /home/path/to/file with the space and it wont parse if there is an equal sign. It took some time before I realized that I needed to have spaces instead of an equal sign before it would parse it correctly.

[2020-05-07 17:08] josegonzalez opened #64 "Validation error messages should go to stderr not stdout"
I'm using argparse as part of go-procfile-util, and capturing output of that command. Unfortunately, if flags are passed in, the command will exit non-zero _but_ will have some output, which can be a bit confusing if you expect no output on error (my project doesn't have stdout unless there are no errors).

Would be great if all errors went to stderr instead of stdout.

[2020-05-07 22:24] jhughes1153 commented on #64
What does the python argparse do by default does it go to stderr under these conditions?

[2020-05-08 05:12] akamensky commented on #62
That is great suggestion. Given I am very time constrained would appreciate a PR for this issue.

[2020-05-08 05:21] akamensky commented on #64
Generally you are correct that errors should go to stderr and other output to stdout (that convention way predates python just fyi). I cannot recall what was the reasoning behind not doing that, but either way the errors are (or at least should be) returnable and the it is your code that decides where to output the error (stdout or stderr or elsewhere).

The way examples in this repo implement it

[2020-05-08 05:27] akamensky commented on #64
@josegonzalez Otherwise please provide example of code that does not allow you to handle errors and prints to stdout instead of stderr.

[2020-05-08 18:29] jhughes1153 commented on #62
Sure I'll start on it this weekend

[2020-05-11 12:01] iamshreeram opened #65 "Argparse variables as Global variable"
1. Is there a way to set the `argparse` variables as **GLOBAL** one. Currently, the scope of argparse variables are confined only to `main()`.
2. Is there a way to declare it in `var ( )`?

[2020-05-11 12:28] akamensky commented on #65
It is pretty easy and has nothing to do with this library. On the other note global scope variables are evil and should only be used when absolutely necessary.

Closing as has nothing to do with this library.

[2020-05-11 12:28] #65 closed

[2020-05-15 16:45] PeterlitsZo opened #67 "[doc] the sub-command example in README"
I'd like to add some examples in README.md, it will be helpful in my opinion.

If it is OK, I will try to update README tomorrow or someday I do not have homework....

[2020-05-28 10:07] akamensky opened #69 "--help flag is being ignored when required arguments are not provided with sub-command"
i.e. `progname command --help` will yield error message instead of printing entire help message.

Help message should be printed whenever `-h|--help` is provided regardless whether on top level or on sub-command.

[2020-05-28 21:37] #62 closed

[2020-05-29 00:27] jhughes1153 commented on #69
I'd be interested in helping with this one if possible.

[2020-05-29 08:34] akamensky commented on #69
Feel free to pick this up! I think can start with adding relevant test case for tests.

[2020-05-31 00:14] jhughes1153 commented on #69
Im not getting an error message like I would expect. Is this just referring to the '[--arg] is required' and then the help message being dumped after that or is it something else? Im have trouble reproducing an error with subcommands.

[2020-05-31 11:51] akamensky commented on #69
@jhughes1153 I've put together following example:

[code]

the output running this is as follows:

[code]

As you can see on second run it did not print help message as requested, but instead it returned error that `[-i|--int] is required`, while i believe it should have printed help message for sub-command. If I change `Required: false` and add `Default: 0` to sub-commands then it works as expect

[2020-05-31 11:53] akamensky commented on #69
I believe `-h|--help` should have higher priority than `required:true` arguments.

[2020-05-31 14:12] jhughes1153 commented on #69
Thanks for the explanation, I was trying to use the zooprog example and I guess I was just doing something wrong with trying to produce the error.

[2020-06-03 22:03] jhughes1153 commented on #69
So it looks like help isnt caught in the sub commands because the sub commands dont look for the --help so they just panic on the required, so I guess we could either add help as a special flag to all subcommands or change that when it parses the flags and sees help itll call the most recent help function. Ill look into what python argparse does in this case for reference as well.

[2020-06-05 00:33] jhughes1153 commented on #69
It looks like in argparse for python they just add help to each subparser so I think ill head in that direction first

[2020-06-12 13:50] simplylizz opened #70 "Handle better newlines in help message"
Hello,

I want to add a list to help description, so each item should be on a new line. Now this looks not very good:
[code]

While the original help string looks like:
[code]

[2020-06-12 14:01] akamensky commented on #70
Good suggestion. I don’t really have much time to work on this at the moment. But hopefully someone could help. This should be easily done by a few additions in a method that formats help message.

[2020-06-14 18:48] jhughes1153 commented on #69
@akamensky when you disable help on the parser should it disable the help for all subcommands as well?

[2020-07-11 23:40] jhughes1153 commented on #69
Sorry for taking so long with this, I still want to work on this bug but my job has been crazy lately and taking up a lot of time on my weekends, but these next few weekends I should be free to work on it so i'll be able to spend some time on this

[2020-08-25 08:00] akamensky commented on #69
Closed by #72

[2020-08-25 08:00] #69 closed

[2020-08-29 15:51] jhughes1153 commented on #20
@akamensky I could try to take a stab at this, the other branch seems to have stalled for this

[2020-08-29 16:40] akamensky commented on #20
@jhughes1153 would be great if you can take a shot at this one. You can see #38 comments about one possible implementation. If you do work on it, I'd suggest perhaps first write how you would go about implementing this as to make sure everyone on the same page. Thanks a bunch!

[2020-09-04 21:23] jhughes1153 commented on #20
#38 seems like a reasonable approach, I think I should start with trying to get something along those lines to work and go from there

[2020-09-15 14:40] Gui13 commented on #23
Hello @akamensky I have a practical use case for that:

If I want a `--version` argument but also have required parameters, argparse will fail if I invoke my program with `./myprogram --version` with an error stating that I am missing required arguments.

See this snippet that fails:

[code]

Solution would be to have multiple independent groups of args, one of which would only have `--version`, a

[2020-09-15 15:05] akamensky commented on #23
@Gui13 you can implement that in code that uses this library. It doesn't have to be part of library for your application to work exactly the way you want it.

[2020-09-17 09:15] Gui13 commented on #23
Ah I think I got you:

- exit before parsing the flags if '--version' is in the os.Args
- keep the exitVersion parser Flag for the help message

Am I right?

The drawback is that this isn't 'pure' in terms of I parse the args twice, and have a bof ugly "if '--version' in os.Args" before all the code.

[2020-09-17 09:59] akamensky commented on #23
@Gui13 Not sure if I understood approach you meant. The one I suggested is something like below:

1. Setup arguments
2. Parse the arguments from `os.Args`
3. Validate arguments (`if ... then` to check for presence of exclusive arguments would be here)
4. If 3 fails -- exit with error, if 3 succeeds -- proceed further
5. Your application logic

As mentioned in one of the comments above -- this libr

[2020-10-15 11:14] jossef opened #73 "support "h" custom argument"
If I define
[code]
I'll get a panic ->

This is because there's a built-in `-h`/`--help` already occupied it.

For now I can workaround it by using a different letter, but It would be a nice to have support for `h` 😁

[2020-10-15 13:04] akamensky commented on #73
That would be great. I realized that this was not a very good design choice. However this was already implemented this way.

I think this can be achieved without breaking compatibility for existing code by adding a method to re-define help argument (or perhaps entirely unset it depending on method arguments). Then this method would need to be called anywhere before setting new `-h` argument.

PR f

[2020-10-17 16:46] akamensky commented on #73
@jossef FWIW, there is `DisableHelp()` method that removes use of `-h|--help` as automagic help arguments. This was added previously for a similar use, but I have not used it myself, so not sure if that works for your use case.

[2020-12-18 17:26] tonimelisma opened #74 "Rename getter fields without Get prefix"
According to [Effective Go](https://golang.org/doc/effective_go.html) getter methods should be named based on the object and shouldn't include the get prefix.

[2021-01-08 13:29] mprahlkamps opened #76 "[bug] Commands not required"
Hello, I have following code

      parser := argparse.NewParser("...", "...")

      verbose := parser.FlagCounter("v", "verbose", &argparse.Options{})
      hosts := parser.StringList("", "host", &argparse.Options{Required: true})
      username := parser.String("u", "user", &argparse.Options{Required: true})
      password := parser.String("p", "password", &argparse.Options{Required: true})

[2021-01-15 11:02] akamensky commented on #76
Thanks, and sorry for the delay. Let me check and I will get back to you.

[2021-01-15 16:04] akamensky commented on #74
I think it is a good idea to follow with standards where they make sense.

Welcome to send a PR for this if you would like to. However please keep in mind backward compatibility promise. Which means renames can only be done for internal methods.

On the other hand it would be a good idea to follow that in v2 of this library whenever that happens.

[2021-01-29 17:03] #56 closed

[2021-01-29 17:03] #64 closed

[2021-01-29 17:03] #23 closed

[2021-03-26 22:46] lespea opened #79 "Can't have duplicate switches in different commands?"
If different commands both have switches that share the same short or long value, it errors with `unable to add String: short name {} occurs more than once`.  This completely renders this library unusable for me unfortunately as many of my sub-commands do share the same switches (with different uses).  Is this something that would be easy to fix or should I look for another library?

[2021-03-28 07:10] akamensky commented on #79
@lespea can you please provide minimal code that shows this bug? If the subcommands that use same short-name and long-name are on different branches of the command tree, there should be no such error and then it would be a bug.

[2021-03-28 07:26] akamensky commented on #79
@lespea I have just tested and I don't see this issue at all:

[code]

The result of running:

[code]

I imagine that you trying to add the same argument short-name or long-name within the SAME branch of subcommand tree, that is not going to work.

[2021-03-28 07:38] lespea commented on #79
Hmm interesting, I must have really messed something up.  Let me check when I get back to work on Monday and see what I did.  As far as I could tell I was adding switches to different sub-commands but I must have done something weird.

[2021-03-30 18:05] lespea commented on #79
Sorry just got around to testing this.  The issue appears to be when validators are used:

[code]

Error:

[code]

[2021-03-30 20:17] #79 closed

[2021-05-06 17:17] hellflame commented on #20
Here I have to create another wheel for this, because the current project doesn't seem to have clear access to make upgrades (and the issue seem to h hang long enough). trust me I tried to upgrade the current project, but it easily become another brand new thing (modification across everywhere, take `help` function for example )

here is my version of approach  https://github.com/hellflame/argpars

[2021-05-15 21:57] tonimelisma commented on #74
In-line with the bot comment, here's a placeholder comment to verify this issue is in no way stale.

[2021-05-30 00:23] #67 closed

[2021-06-12 07:50] entwildfire opened #86 "Auto complete subcommands"
Hi.
Is it possible to enable auto complete subcommands like git?

[2021-06-12 08:11] akamensky commented on #86
Auto-completion is a functionality of the shell. Not of the application code. Basic Google search would point you in the right direction.

https://stackoverflow.com/questions/5570795/how-does-bash-tab-completion-work

[2021-06-12 08:11] #86 closed

[2021-08-12 11:13] rsheasby opened #88 "[bug] Unable to detect if file flag was actually provided?"
Hi There.

This has been my go-to library for argument parsing, and I recently tried to use this to parse file arguments. However, it seems impossible to determine if a flag was actually provided. For example:
[code]
This does not work, because the configFile is always non-nil, as the parser seems to work by overwriting the internal structures of os.File, and if the argument isn't provided, the co

[2021-08-12 15:30] akamensky commented on #88
Hey @rsheasby, thanks for the report.

I've added `parser.File` in the very beginning, but against my own expectations ended up not using it as much. So it is entirely possible some uses cases were overlooked.

Just for the clarity, can you please provide a full example that is not working as you expected (as in entire contents of `main` package that reproduces this issue)? That would be super hel

[2021-08-12 15:47] akamensky commented on #88
I've just tried a few cases here, all worked as expected:

1. This fails with `panic: open ./non-existent-file: no such file or directory`
[code]

2. This fails as well, just as expected:

[code]

3. This passes as expected and creates new file:
[code]

[2021-08-12 16:32] rsheasby commented on #88
Basically, the library fails to cater for scenarios when the file flag is optional. Here's an example:

[code]

And here's what I see if I try run that:
[code]

I can understand that changing the nil-ness of the File pointer isn't possible after it's been returned, but it should then instead either return a double pointer (I don't recommend this since it would be a breaking change), or return a po

[2021-08-13 01:59] akamensky commented on #88
@rsheasby thanks, I can reproduce this behavior and I'd say it is not as intended. Let me see what I can do here.

[2021-08-13 04:05] akamensky commented on #88
I looked into this issue and found that nothing much I can do here. `os.File` is not a builtin type in Golang, but a struct, which means that initializing it as `var fd os.File` will always provide a valid non-nil pointer, however initializing it as `var fd *os.File` will not allow this library to pass the file descriptor back to application code. Same is true for builtin types, however those are

[2021-08-13 04:25] #88 closed

[2021-08-13 04:29] akamensky commented on #88
The change is merged and released as `v1.3.1`.

@rsheasby Please fetch the latest version and see whether that approach works for you.

You can use it as (adjusting the code you provided):

[code]

[2021-08-13 06:31] rsheasby commented on #88
Thanks, looks like that's a solution.
Honestly though, I agree that the library probably shouldn't be handling file descriptors. I'd actually recommend just deprecating the function entirely, and possibly removing it from a future major version.

[2021-09-01 09:01] CITIZENDOT opened #90 "subparser not implemented"
So, I am trying to follow [wyag tutorial](https://wyag.thb.lt/). I am trying this with golang. So far so good. I found all equivalent go packages. But the parser in the tutorial uses subparser. I think I can do it without it too, But I noticed it's not implemented here.

Thanks for this package.

[2021-09-01 10:14] akamensky commented on #90
Is this a bug report? A feature request? Not clear.

This is a Golang library. It is as stated in description inspired by Pythons argoarse. But it is not a replica of that.

[2021-09-01 10:14] #90 closed

[2021-09-18 20:01] mieubrisse opened #91 "Provide ability to configure helptext maxWidth columns"
The usage helptext is currently very cramped, at 80 maximum characters ( https://github.com/akamensky/argparse/blob/master/argparse.go#L647 ):

<img width="1440" alt="Screen Shot 2021-09-18 at 2 58 36 PM" src="https://user-images.githubusercontent.com/1142185/133907131-2941a9d1-7a65-4244-8afe-20910b51ae0c.png">

It would be great if this were configurable

[2021-09-20 01:39] akamensky commented on #91
80 characters is a default terminal width, it has been standard for headless servers terminals for years and still is used everywhere.

FYI, if you don't use very long path and very long argument names, it will look perfectly fine.

I don't think this should touch existing help message formatting, otherwise it will break compatibility. Better option is to introduce override formatter, so that anyo

[2021-09-20 18:24] jkugler commented on #91
As far as I know, most help formatters query the terminal (If $ISTTY is true) to find the width, and use that.

[2021-09-23 09:03] akamensky commented on #91
@jkugler while that is correct, there are many cases when those fail to detect width correctly, where you will have then lines extending beyond the visible display area. And correct screen width detection is out of scope for this library I think.

I think would be good to have a way to configure help formatting in some flexible way. Current approach is a bit too tightly coupled with internals.

I

[2021-09-23 15:37] mieubrisse commented on #91
I'd add a +1 to @jkugler 's terminal detection. Speaking from firsthand experience, I know how nasty working with the terminal can be, but it seems like both argparse and argparse4j do it so would definitely be very helpful in this Go port! :)

[2021-09-23 17:57] jkugler commented on #91
Python's argparse "cheats" as it uses a function from another module, but it does do it: https://github.com/python/cpython/blob/main/Lib/argparse.py#L170

[2021-09-24 05:52] akamensky commented on #91
@mieubrisse To clarify. This is not a port of Python's argparse. This library merely inspired by the usability of it.

[2021-09-24 18:03] jkugler commented on #91
@akamensky I understand it's not a port. I was just pointing out that 1) the Python version does it, and 2) it does, in fact, rely on an external library, but it just so happens that "external library" is in its own stdlib, so it doesn't have to install anything extra.

So, in your case, unless Go's stdlib has something similar, yes, it would introduce an additional dependency.

[2021-09-27 04:12] #74 closed

[2021-10-03 08:00] Briankp opened #92 "Getting: import cycle not allowed using the example."
package main

import (
	"fmt"
	"github.com/akamensky/argparse"
	"os"
)

func main() {
	// Create new parser object
	parser := argparse.NewParser("print", "Prints provided string to stdout")
	// Create string flag
	s := parser.String("s", "string", &argparse.Options{Required: true, Help: "String to print"})
	// Parse input
	err := parser.Parse(os.Args)
	if err != nil {
		// In case of error print e

[2021-10-03 14:10] machinexa2 opened #93 "Subparser feature and example?"
https://chase-seibert.github.io/blog/2014/03/21/python-multilevel-argparse.html

[2021-10-03 14:11] machinexa2 commented on #93
git like parsing example and documetation

[2021-10-03 14:11] machinexa2 commented on #93
i need

[2021-10-03 17:53] Briankp commented on #92
Not a bug.
Just in case if someone runs into this issue, the following commands is how I fixed it:

go clean -cache -modcache -i -r

 go get  github.com/akamensky/argparse

[2021-10-04 03:55] #92 closed

[2021-10-04 05:14] akamensky commented on #93
It is already part of this library, check examples and documentation.

[2021-10-04 05:14] #93 closed

[2021-12-12 07:24] pythonhacker opened #94 "Provide <META> fields and Author Information in usage string"
First of all thanks for the awesome work. I noticed a few discrepancies and usage issues which can make this package better.

1. Python's argparse provides a `metavar` field which adds a description, a META field for the argument which is missing from this package. So say if a field is a filename then it would show up as,

[code]

I could not find a way to do that with this package.

2. Author inf

[2021-12-12 08:54] akamensky commented on #94
This is out of scope for this package.

It doesn't need separate fields for that. You can either add that into description or there's an option to provide your help message as a string (without any generated help messages).

Also conventionally there's no "copyright/author" in help message. That goes into manpage or into "version".

[2021-12-12 08:55] #94 closed

[2021-12-12 19:01] pythonhacker commented on #94
Ok, cool - Thanks for the feedback. I guess I will keep my own fork of the package then.

[2022-01-06 18:43] texadactyl opened #95 "Question about returned parameters (not a bug report)"
Congratulations on porting the ArgParse concept from Python.  ArgParse is one of the Python packages that I have used heavily so this was quite welcome to find.  If I find any bugs or suggestions for enhancements, I'll write up a separate issue.

1. Since Parser.X is returning something, why return a pointer to the something?  Why not simply return the something itself?  Yes, argparse is consisten

[2022-01-07 05:26] akamensky commented on #95
Because the parsing does not happen until `Parser.Parse` is called. At which point the args will be parsed and values populated into corresponding variables. If you can suggest a way that can propagate value into already returned variable w/o using pointers I very much would like to know.

Probably never as I am not one of Google developers who decide what goes into standard library. It is better

[2022-01-07 05:26] #95 closed

[2022-02-06 01:45] #91 closed

[2022-03-17 18:07] xnslong opened #96 "FlagCounter display unexpectedly"
Given a `FlagCounter` arg definition as following

[code]

the help message displays it in the same style as an `Int` arg.

[code]

however, it can not be used in the same way as an `Int` arg

[code]

instead it should be used in the flag way.

[code]

[2022-03-18 09:15] xnslong opened #97 "expect File arg to take standard input / output stream as a value"
When I define a `File` arg (like following) to input a file,

[code]

I wish I can specify the `-` value to read input file from the standard input stream instead of a concrete file. However, it will report error for the `-` value now.

if it's defined with `String` arg, the help message cannot show this is a file (displays as `-i "<value>"`), not as expected very much.

It is the same case is for

[2022-04-20 07:50] akamensky commented on #97
You can provide `Options.Help` and write there that it must be a file, in addition you can add validation to the argument that will check whether string is a file or if it is "-".

I can see how it could be useful, but then would also need to account for ability to pipe stdin etc, which is better handled from application code than from this library.

I've added `File` early on, but it is rather co

[2022-04-20 07:51] akamensky commented on #97
I think it can be done with minimal change, PR is welcome.

[2022-04-20 07:53] akamensky commented on #96
Looks like a bug to me.

[2022-04-20 08:25] jasonwee opened #98 "Options.Default should be ignored for Flag"
[code]

why is this always true? the second should be false?
[code]

[2022-04-20 09:47] akamensky commented on #98
Flag default 'true' doesn't make sense.

If flag is not provided it is false (default boolean value), if provided it is true.

Setting default to true makes it to be always true.

I agree it can be improved by simply ignoring Options.Default for Flag.

[2022-04-20 13:13] jasonwee commented on #98
Thanks for considering

[2022-07-28 13:06] akamensky commented on #76
Full code to reproduce:

[code]

Test cases:

[code]

[2022-07-28 13:39] akamensky commented on #98
Resolved in #103

[2022-07-28 13:39] #98 closed

[2022-07-28 14:55] #3 closed

[2022-07-28 14:56] akamensky commented on #4
Closing in favor of working on v2

[2022-07-28 14:56] #4 closed

[2022-07-28 21:19] jasonwee commented on #98
will upgrade and test this feature, thank you!

[2022-08-08 23:02] #20 closed

[2022-08-25 02:36] samuelololol opened #107 "How do I make a hidden argument?"
For example, the user can define a hidden argument that is not shown on the help. I can't find an argument type to do this or any option field to set. How do I make a hidden one?

[2022-08-25 03:24] akamensky commented on #107
See https://pkg.go.dev/github.com/akamensky/argparse#pkg-constants

[2022-08-25 03:24] #107 closed, assigned to nobody

[2022-09-02 17:14] vsachs opened #108 "enable required for positionals"
Positionals (added in 1.4) currently ignore the Required option. It should be supported, with these basic requirements:

- Required positionals must have a value supplied by the user (not by Default) or an error is thrown
- If a positional is set to required, throw an error if there are already any positionals on this command which are NOT required
-- This is necessary in order to avoid ambiguity

[2022-09-02 17:26] vsachs opened #109 "SelectorList flag"
We should enable a SelectorList argument type which accepts a list of strings which match the Selector criteria

[2022-09-08 09:55] ayub422 opened #110 "Golang Argparse not picking correct value for multiple flags"
I have a golang binary named test. I have two flags -p and -s. I want user to pass them like below scenarios:
1) ./test -p
2) ./test -s serviceName
3) ./test -p -s serviceName

Means -p should be passed with empty value and -s should be passed with any service name. 1 and 2 are working fine but in third -p flag is taking value "-s". What i want from 3rd is -p should be empty value ("") and -s shou

[2022-09-08 10:19] akamensky commented on #110
I don't see any question, but report or feature request. Please read documentation all you need to implement this is already well described there.

[2022-09-08 10:20] #110 closed, assigned to nobody

[2022-09-08 10:25] AyushNarayan commented on #110
Btw congrats on getting argparse listed as golang dev package previous month

[2022-09-27 18:14] ryansch80 commented on #108
I'm not sure if this belongs here, or could be considered a separate issue:

I'm using argparse with 3 (_required_) positional args and 1 optional arg.  If you don't pass any args to the program, error is _nil_ and program execution continues (and eventually causes errors when trying to access non existent files):

[code]

When I push this  to a server for use by other users, most of them will nai

[2022-09-29 12:11] akamensky commented on #108
@ryansch80 ~~That sounds as a bug that needs to be assessed and fixed.~~

Yes, that seems to be related, if I understand top post correctly `required` currently ignored.

As a workaround until this is fixed you could add a check of positional values and throw an error if they are not provided.

[2022-09-29 12:12] akamensky opened #111 "Required"

[2022-09-29 12:24] akamensky commented on #108
@vsachs Thanks, I think we do need to enable `Required` to work for positionals. I generally agree with all requirements except for:

I think if positional is marked as required and there is no value available to fill it -- should throw an error.

I would probably say that as per https://github.com/akamensky/argparse/issues/108#issuecomment-1259879996 it should be considered a bug rather than an e

[2022-09-30 15:07] vsachs commented on #108
If we always throw an error when a required is unsatisfied, then if someone creates multiple sub-commands all of which have a required positional, the argparser will always error. There will be no way for one sub-command to "take precedence". I think that's not a good system but it's up for discussion of course.

Sure, that's fine I guess.

I'll try to take a couple moments next week to fix this.

[2022-10-07 14:21] cjmcgraw opened #112 "Allow parser.ParseKnownArgs(...)"
Using your library is nice, but I'd really like to be able to pass through additional arguments so I can wrap scripts and forward args I don't care about to them.

The error returned would then only check that required arguments are there. Setting all others as ignored

[2022-10-25 10:33] mark-summerfield opened #113 "How do you get >=0 positionals?"
I want a cli like this:
```myapp -f --long option name1 name2 name3```
where -f is a flag and --long is a string arg and the names are positionals.
When I use:
[code]
It accepts at most 1 file & there is no StringListPositional() function.
Also the positional is shown as an option, e.g., `[_positionalArg_clc_8 "<value>"]`

[2022-11-18 09:46] naughtyGitCat opened #115 "[BUG] v1.4.0 args does not happened when subcommand exists"
[code]

raises

[code]

v1.3.1 will not occur this circumstance
v1.4.0 will  occur this circumstance

when `fmt.Println(os.Args)` it turnout ` [./crank --version]`

[2022-11-27 15:45] TheDen commented on #113
AFAIK you can hide the option via adding `DISABLEDDESCRIPTIONWILLNOTSHOWUP` (referenced [here](https://pkg.go.dev/github.com/akamensky/argparse#section-readme))

Here's an example I use to hide a position in `--help`:

[code]

[2022-11-27 15:52] mark-summerfield commented on #113
Thank you.

[2022-11-27 15:52] #113 closed, assigned to nobody